ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: black;
}

ul.dropd
{
    height:500px;
    overflow:auto;
}




ul li {
  display: block;
  position: relative;
  float: left;
  background: black;
}

li ul { display: none;
 background: black;}

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: black;
}

ul li a:hover { background: black; }

li:hover > ul {
  display: block;
  position: absolute;
}

li:hover li { float: none;}

li:hover a { background: black; color: white; }

li:hover li a:hover { background: white; color: black; text-decoration: none; }

.main-navigation li ul li { border-top: 0; }

ul ul ul {
  left: 100%;
  top: 0;
}

ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul:after { clear: both; }